**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/artifacts/
**/TestResults/
**/*.user
**/.DS_Store

.git
.gitignore
.github
.data/
docs/
tests/
.env
.env.*
!.env.sample
**/docker-compose*.yml
**/compose*.yml
README.adoc
LICENSE
